<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-06-13T07:10:31Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mac040/Desktop/project/LastProject/LastProject.xcodeproj</string>
</dict>
</plist>
